{% extends "base.layout.twig" %}

{% block title %}
<h1><a href="/">Increasing Number Agency</a>: About</h1>
{% endblock %}

{% block page_content %}

    <div class="container">
        <h3>Contact</h3>
        <p>number.agency is a volunteer effort (i.e. non-commerical project) developed and operated by Arno Hollosi.</p>
        <p>Please direct any questions you have to &lt;<em>info at number . agency</em>&gt;</p>

        <h3>Data collected</h3>

        <h4>In our database</h4>
        <p>Our database only stores the name of the number and the number value itself. In addition we store
            the date of the last change. As such, the data in the database
            is anonymous data according to the <a href="https://www.eugdpr.org/">GDPR</a>,
            because noone (even we) can link it back to a person.</p>

        <h4>Operational data</h4>
        <p>Our webserver stores the usual access and error log entries. They contain:</p>
        <ul>
            <li>IP address ... from which address did a web request originate?</li>
            <li>Time ... time of access</li>
            <li>HTTP method and path of request ... e.g. "GET / HTTP/1.1"</li>
            <li>HTTP status code and response size</li>
            <li>Error messages ... if the request resulted in a program error, the error message is recorded</li>
        </ul>

        <p>We do not store other information like e.g. browser name and version, operating system, referring
            website etc.</p>
        <p>Access and error logs are deleted after 30 days. Only anonymous aggregate information (such as
            how many requests in total were sent in a given month) are kept.</p>

        <p>IP addresses are personal identifiable information according to the GDPR. Therefor you can
            contact us about any web logs we have stored about your IP address, given you can prove to us that
            you were using that address at that time. As we delete log files after 30 days, we cannot provide
            information that is older than 30 days.</p>

        <h4>Cookies &amp; third parties</h4>
        <p>We do not use cookies.</p>
        <p>We do not use any third parties (e.g. tracker scripts, advertisements etc.)</p>
        <p>We do not share any information with third parties (except maybe for anonymous aggregate information
            like total number of requests in a given month.)</p>
        <p>The site is run on a dedicated (bare-metal) server rented from a German hosting provider.
            You can read about their policies
            <a href="https://www.server4you.com/legal-and-documents" title="Server4You Policies">here</a>.</p>

        <h3>Security</h3>
        <p>We take security seriously: we keep the server up to date with latest security patches, and
            data is encrypted during transit. We have strong access controls in place, and do not store data
            longer than absolutely necessary.</p>
        <p>If you find a security related issue or have a security related question, please contact us
            at &lt;<em>info at number . agency</em>&gt;.</p>
    </div>

{% endblock %}
