<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block head_title %}Number Agency -- your trusted source for numbers{% endblock %}</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/design/normalize.css">
    <link href="/design/milligram.min.css" rel="stylesheet">
    <link href="/design/main.css" rel="stylesheet">
  </head>
  <body>
    {% block top_bar %}
        <header class="container">
            {% block title %}
                <h1>Increasing Number Agency</h1>
                <p>We provide increasing numbers as a service.</p>
            {% endblock %}
        </header>
    {% endblock %}
    {% block page_content %}{% endblock %}
    {% block footer %}
        <footer class="container">
                <hr>
                <p>&copy; xmp.net &mdash; <a href="/about">About &amp; policies</a></p>
        </footer>
    {% endblock %}
  </body>
</html>