{% extends "base.layout.twig" %}

{% block page_content %}

    <div class="container">
        <h3>2 simple steps</h3>
        <ol>
            <li>Just think of a (unqiue) URL in the form of
                <code>https://increasing.number.agency/nr/<u>name</u></code>
            </li>
            <li>Start increasing that number:
                <code>curl https://increasing.number.agency/nr/<u>name</u></code>
            </li>
        </ol>

        <h3>Notes</h3>
        <ul>
            <li><u>name</u> can be any string up to 64 characters long.
                There is not authorization at all. So think of something unique lest someone else
                increases the number for you :o)
            </li>
            <li>Based on the <code>Accept</code> HTTP header, the current number is returned either
                in plain text or as JSON in the form of <code>{"number": 1234}</code>.
            </li>
            <li>No SLA or guarantees of any kind. Inactive or too active numbers may be removed/blocked
                on our discretion. If you'd like an SLA, or additional features, contact us.
            </li>
        </ul>
    </div>
{% endblock %}